server/normalization/html/* linguist-documentation
server/normalization/html/*.html linguist-vendored
public/json/** linguist-generated
public/img/** linguist-generated
server/normalization/img/** linguist-vendored
server/normalization/compile/** linguist-vendored
server/normalization/build/** linguist-vendored
server/normalization/raw/** linguist-vendored
server/normalization/truth/** linguist-vendored
