data/normalization/html/* linguist-vendored
public/json/** linguist-generated
public/img/** linguist-generated
data/normalization/img/** linguist-vendored
data/normalization/compile/** linguist-vendored
data/normalization/build/** linguist-vendored
data/normalization/raw/** linguist-vendored
data/normalization/truth/** linguist-vendored
