.accordion .list-group-item {
  border-radius: 0;
  border-width: 1px 0 1px 0;
  padding-left: 30px;
  //background: #d6dbe0;
  font-weight: 500;
}

.accordion .list-group-item a {
  color: #61656b;
  display: block;
}

.accordion .list-group-item .badge {
  float: right;
  min-width: 36px;
}

.accordion .card-body {
  padding: 0;
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card {
  border: 1px solid rgba(0, 0, 0, .125);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 0;
}