.accordion .list-group-item {
  border-radius: 0;
  border-width: 0 0 0 0;
  border-bottom-width: 1px;
  .list-group-item:first-child { border-top-width: 1px; }
  .list-group-item:last-child { border-bottom-width: 0; }

  padding-left: 30px;
  font-weight: 500;
}

.accordion .list-group-item a {
  //color: #61656b;
  display: block;
}

.accordion .list-group-item .badge {
  float: right;
  min-width: 36px;
}

.accordion .card-body {
  padding: 0;
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card {
  border: 1px solid rgba(0, 0, 0, .125);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.no-link {
  text-decoration: none;
}

.no-link:hover {
  text-decoration: none;
}