$gray-1100: #dddddd;
$gray-1000: #cfcfcf;
$gray-900: #b3b3b3;
$gray-800: #a0a0a0;
$gray-700: #565656;
$gray-600: #3e3e3e;
$gray-500: #292929;
$gray-400: #242424;
$gray-300: #191919;
$gray-200: #131313;
$gray-100: #0e0e0e;
$gray-000: #070707;
$highlight: #d2ca00;
