{% extends 'base.html' %}
{% block head %}
{{ super() }}
<style>
        .card {
            background-color: white;
            border-radius: 0.25rem;
            box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
            min-height: 180px;
            padding: 2.4rem 2.4rem 1.2rem 2.4rem;
            border: solid transparent;
            border-bottom-color: transparent;
            border-bottom-color: rgb(38, 43, 44);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 4rem;
        }
    </style>
{% endblock head %}
{% block body %}
{{ super() }}
<div class="container" style="text-align: center; margin-top: 30rem;">
    <div class="row">
        <div class="column column-25">
            <div class="card">
                Test
            </div>
        </div>
        <div class="column column-40">
            <div class="card">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
{#        <div class="column column-20"></div>#}
    </div>
</div>
{% endblock body %}