{% extends 'content.html' %}
{% block content %}
{{ super() }}
<div class="field is-grouped" style="justify-content: center;">
        <p class="control is-link">
            <a class="button" href="{{ url_for('rebuildSeason', season=season.id) }}">Rebuild Season</a>
        </p>
        <p class="control is-link">
            <a class="button" href="{{ url_for('redownloadSeason', season=season.id) }}">Redownload Season</a>
        </p>
    </div>
<br>
{% for episode in season.episodes %}
    <div class="box">
        <h1 class="title is-5"><a href="{{ url_for("viewEpisode", season=season.id, episode=episode.number) }}" >Episode {{ episode.number }}</a></h1>
    </div>
{% endfor %}

{% endblock content %}